/uploads/*
!/uploads/receipts
!/uploads/requests
!/uploads/requests_receipts
!/uploads/students
!/uploads/.gitkeep

/uploads/receipts/*
!/uploads/receipts/.gitkeep

/uploads/requests/*
!/uploads/requests/.gitkeep

/uploads/requests_receipts/*
!/uploads/requests_receipts/.gitkeep

/uploads/students/*
!/uploads/students/.gitkeep

/exports/*
!/exports/.gitkeep
